<div class="main-nav">
    <div class="left-child"><a href="#/home"><h5>Voltar</a></h5></div>
    <div class="center-child"><h5>Incidentes</h5></div>
</div>

<div class="separator"></div>

<div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div class="btn-group btn-group-justified">
          <a href="#/chamados-lista" class="btn btn-default" ng-disabled="true">Lista</a>
          <a href="#/chamados-mapa" class="btn btn-default">Mapa</a>
        </div>
        
        <div class="alert alert-danger" ng-show="errors.length > 0 && !loading">
            <p ng-repeat="error in errors"><strong>Oops!</strong> {{error.details}}</p>
        </div>

        <div ng-show="loading" class="loading">
            <div class="loading-content">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
          
        <br/>

        <div class="list-group table-of-contents" md-swipe-left="onSwipeLeft()">
            <a class="list-group-item" ng-repeat="order in orders" href="#/chamado/{{ order.os }}">
                <h4 class="list-group-item-heading">
                    <span class="label label-default">{{ order.order }}</span> {{ order.os }} 
                </h4>
                <p class="list-group-item-text">{{ order.local }} <br /> {{ order.formattedAddress }}</p>
                <span class="label label-primary">R{{ order.reincidencia }}</span>
                <span class="label " 
                      ng-class="{ 'label-success' : order.sla_status == 'Dentro do Prazo', 
                                  'label-danger' : order.sla_status == 'Fora do Prazo',
                                  'label-warning' : order.sla_status == 'Próximo do Prazo' }">{{ order.sla_limite | date:'dd/MM HH:mm' }}</span>
                <span class="label label-primary">{{ order.distance }}</span>
                <span class="label label-primary">{{ order.duration }}</span>
                <span class="label label-info">{{ order.intervencao }}</span>
            </a>
        </div>
      </div>
   </div>
</div>
