<div class="main-nav">
    <div class="left-child"><a href="#/chamados-lista"><h5>Voltar</h5></a></div>
    <div class="center-child"><h5>5889541</h5></div>
</div>

<div class="separator"></div>

<div class="container">

   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div ng-cloak>
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab label="A">
                <md-content class="md-padding">
                  <div class="tab-title">
                    <h4>Informações</h4>
                  </div>
                  <hr>  
                  <table class="table table-striped table-hover ">
                    <thead>
                      <tr>
                        <th>Informação</th>
                        <th>Detalhes</th>
                      </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>OS</td>
                            <td>5889541</td>
                          </tr>
                          <tr>
                            <td>OS Cliente</td>
                            <td>514481515445</td>
                          </tr>
                          <tr>
                            <td>Abertura</td>
                            <td>04/04/2017 13:17:30</td>
                          </tr>
                          <tr>
                            <td>Data fim SLA</td>
                            <td>04/04/2017 19:17:30</td>
                          </tr>
                          <tr>
                            <td>Solicitação</td>
                            <td>04/04/2017 13:17:30</td>
                          </tr>
                          <tr>
                            <td>Reincidência</td>
                            <td>0</td>
                          </tr>
                          <tr>
                            <td>Código Pai</td>
                            <td>290.01.733</td>
                          </tr>
                          <tr>
                            <td>Equipamento</td>
                            <td>TMF 4100 101F N.S.:24546</td>
                          </tr>
                          <tr>
                            <td>Intervenção</td>
                            <td>Corretiva</td>
                          </tr>
                          <tr>
                            <td>Cliente/Local</td>
                            <td>748-03953/08-UA SARV</td>
                          </tr>
                          <tr>
                            <td>Defeito</td>
                            <td>Falha na impressora e no dispositivo pagador</td>
                          </tr>
                          <tr>
                            <td>Observação</td>
                            <td>Cliente tentou efetuar liberação do papel sem sucesso</td>
                          </tr>
                          <tr>
                            <td>Marcação especial</td>
                            <td>Não informado</td>
                          </tr>
                        </tbody>
                      </table>
                  
                </md-content>
              </md-tab>
              <md-tab label="B">
                <md-content class="md-padding">
                      <div class="tab-title">
                        <h4>Serviços</h4>
                      </div>
                      <hr>
                      <form name="form">
                        <div class="form-group">
                           <div class="form-group">
                                <input class="form-control" type="text" placeholder="Número RAT">
                           </div>
                           <div class="form-group">
                                <input class="form-control" type="text" placeholder="Data chegada">
                           </div>
                           <div class="form-group">
                                <input class="form-control" id="disabledInput" type="text" placeholder="Data início serviço (preench. automático)" disabled="">
                           </div>
                           <div class="form-group">
                                <input class="form-control" id="disabledInput" type="text" placeholder="Data fim serviço (preench. automático)" disabled="">
                           </div>
                           <div class="form-group">
                                <input class="form-control" type="text" placeholder="Início Intervalo">
                           </div>
                           <div class="form-group">
                                <input class="form-control" type="text" placeholder="Término Intervalo">
                           </div>
                           <div class="form-group">
                                <input class="form-control" type="text" placeholder="Acompanhante">
                           </div>
                           <div class="form-group">
                                <input class="form-control" type="text" placeholder="Relato padrão da solução">
                           </div>
                           <div class="form-group">
                                <input class="form-control" type="text" placeholder="Relato descritivo da solução"> </br>
                           </div>
                           <div class="btn-group btn-group-justified">
                              <a href="#/home" type="button" class="btn btn-default">Salvar</a>
                           </div>
                        </div>
                     </form>
                </md-content>
              </md-tab>
              <md-tab label="C">
                <md-content class="md-padding">
                  <div class="tab-title">
                    <h4>Ações</h4>
                  </div>
                  <hr>
                  <a href="" class="list-group-item">
                    <h5 class="list-group-item-heading">18300 - Fechadura Eletr.<span class="label label-danger">Excluir</span></h5>
                    <p class="list-group-item-text">046 - Sem Defeito</p>
                    <p class="list-group-item-text">068 - Orientação</p>
                    <p class="list-group-item-text">Nenhuma peça utilizada.</p>
                </a>
                <a href="" class="list-group-item">
                    <h5 class="list-group-item-heading">04500 - Infra Estrutura<span class="label label-danger">Excluir</span></h5>
                    <p class="list-group-item-text">024 - Fora de Especificação</p>
                    <p class="list-group-item-text">053 - Atendimento Parcial</p>
                    <p class="list-group-item-text">Nenhuma peça utilizada.</p>
                </a>
                <a href="" class="list-group-item">
                    <h5 class="list-group-item-heading">20400 - CPU<span class="label label-danger">Excluir</span></h5>
                    <p class="list-group-item-text">022 - Falha de Comunicação</p>
                    <p class="list-group-item-text">069 - Pendência de Peças</p>
                    <p class="list-group-item-text">219.70.108: PLACA DE CONEXOES EXTERNAS SERIAL PARA ATM (FONTE EXTERNA LEADER)</p>
                </a>
                <a href="" class="list-group-item">
                    <h5 class="list-group-item-heading">13450 - Teclado<span class="label label-danger">Excluir</span></h5>
                    <p class="list-group-item-text">022 - Falha de Comunicação</p>
                    <p class="list-group-item-text">053 - Atendimento Parcial</p>
                    <p class="list-group-item-text">Nenhuma peça utilizada.</p>
                </a>
                <br>
                <div class="btn-group btn-group-justified">
                   <a href="#/chamado.detalhes.acoes.add" type="button" class="btn btn-default">Adicionar Ação</a>
                </div>
                </md-content>
              </md-tab>
              
              <md-tab label="D">
                  <md-content class="md-padding">
                      <div class="tab-title">
                        <h4>Causas</h4>
                      </div>
                      <hr>
                      <form name="form">
                        <div class="form-group">
                              <label class="control-label">Tipo de Causa</label>
                              <div class="radio">
                                <label>
                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Máquina
                                </label> &nbsp;
                                <label>
                                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Extra Máquina
                                </label>
                              </div><br>

                              <label class="control-label">Tipo de Serviço</label>
                              <md-select placeholder="Tipo de Serviço" ng-model="tipoServico.nome" md-on-open="loadTiposServicos()">
                                  <md-option ng-value="tipoServico" ng-repeat="tipoServico in tiposServicos">{{tipoServico.nome}}</md-option>
                              </md-select>

                              <label class="control-label">Módulo, Sub Módulo e Componente</label>
                              <md-select ng-model="obj.Modulo" placeholder="Módulo">
                                 <md-option value="1">Módulo A</md-option>
                                 <md-option value="2">Módulo B</md-option>
                                 <md-option value="3">Módulo C</md-option>
                                 <md-option value="4">Módulo D</md-option>
                                 <md-option value="5">Módulo E</md-option>
                                 <md-option value="6">Módulo F</md-option>
                                 <md-option value="7">Módulo G</md-option>
                                 <md-option value="8">Módulo H</md-option>
                                 <md-option value="9">Módulo I</md-option>
                                 <md-option value="10">Módulo J</md-option>
                                 <md-option value="11">Módulo K</md-option>
                                 <md-option value="12">Módulo L</md-option>
                              </md-select>

                              <md-select ng-model="obj.subModulo" placeholder="Sub Módulo">
                                 <md-option value="1">Sub Módulo A</md-option>
                                 <md-option value="2">Sub Módulo B</md-option>
                                 <md-option value="3">Sub Módulo C</md-option>
                                 <md-option value="4">Sub Módulo D</md-option>
                                 <md-option value="5">Sub Módulo E</md-option>
                                 <md-option value="6">Sub Módulo F</md-option>
                                 <md-option value="7">Sub Módulo G</md-option>
                                 <md-option value="8">Sub Módulo H?</md-option>
                                 <md-option value="9">Sub Módulo I</md-option>
                                 <md-option value="10">Sub Módulo J</md-option>
                                 <md-option value="11">Sub Módulo K</md-option>
                                 <md-option value="12">Sub Módulo L</md-option>
                              </md-select>

                              <md-select ng-model="obj.componente" placeholder="Componente">
                                 <md-option value="1">Componente A</md-option>
                                 <md-option value="2">Componente B</md-option>
                                 <md-option value="3">Componente C</md-option>
                                 <md-option value="4">Componente D</md-option>
                                 <md-option value="5">Componente E</md-option>
                                 <md-option value="6">Componente F</md-option>
                                 <md-option value="7">Componente G</md-option>
                                 <md-option value="8">Componente H</md-option>
                                 <md-option value="9">Componente I</md-option>
                                 <md-option value="10">Componente J</md-option>
                                 <md-option value="11">Componente K</md-option>
                                 <md-option value="12">Componente L</md-option>
                              </md-select>

                              <label class="control-label">Defeito e Ação</label>
                              <md-select ng-model="obj.defeito" placeholder="Defeito">
                                 <md-option value="1">Defeito A</md-option>
                                 <md-option value="2">Defeito B</md-option>
                                 <md-option value="3">Defeito C</md-option>
                                 <md-option value="4">Defeito D</md-option>
                                 <md-option value="5">Defeito E</md-option>
                                 <md-option value="6">Defeito F</md-option>
                                 <md-option value="7">Defeito G</md-option>
                                 <md-option value="8">Defeito H</md-option>
                                 <md-option value="9">Defeito I</md-option>
                                 <md-option value="10">Defeito J</md-option>
                                 <md-option value="11">Defeito K</md-option>
                                 <md-option value="12">Defeito L</md-option>
                              </md-select>

                              <md-select ng-model="obj.acao" placeholder="Ação">
                                 <md-option value="1">Ação A</md-option>
                                 <md-option value="2">Ação B</md-option>
                                 <md-option value="3">Ação C</md-option>
                                 <md-option value="4">Ação D</md-option>
                                 <md-option value="5">Ação E</md-option>
                                 <md-option value="6">Ação F</md-option>
                              </md-select>
                              <hr>

                              <div class="btn-group btn-group-justified">
                                <a href="#/home" type="button" class="btn btn-default">Salvar</a>
                              </div>
                        </div>
                     </form>
                 </md-content>
             </md-tab>
             <md-tab label="E">
                  <md-content class="md-padding">
                      <div class="tab-title">
                        <h4>Checklist</h4>
                      </div>
                      <hr>
                      
                      <p>Em construção.</p>
                 </md-content>
             </md-tab>
             <md-tab label="F" ng-disabled="true">
                  <md-content class="md-padding">
                      <h5>?</h5>
                 </md-content>
             </md-tab>
            </md-tabs>
          </md-content>
        </div>

        
        <!--
        <div class="list-group table-of-contents">
             <div class="btn-group btn-group-justified">
                <a href="#/home" type="button" class="btn btn-success">Check-in</a>
             </div>

             <br>
            
            <a class="list-group-item list-group-item-single" href="#/chamado.detalhes.detalhes">Detalhes do chamado</a> <br>

             <a class="list-group-item list-group-item-single" href="#/chamado.detalhes.servico">Informações do serviço <span class="label label-success detail-tag">V</span>  </a>
             <a class="list-group-item list-group-item-single" href="#/chamado.detalhes.acoes">Detalhes das ações <span class="label label-success detail-tag">V</span></a>
             <a class="list-group-item list-group-item-single" href="#/chamado.detalhes.site">Informações do site <span class="label label-danger detail-tag">P</span></a>
             <a class="list-group-item list-group-item-single" href="#/chamado.detalhes.firmware">Informações do firmware <span class="label label-danger detail-tag">P</span> </a>
             <a class="list-group-item list-group-item-single" href="#/chamado.detalhes.checklist">Check-list<span class="label label-danger detail-tag">P</span></a>
        </div>

        <div class="btn-group btn-group-justified">
          <a href="#/home" type="button" class="btn btn-primary">Finalizar</a>
        </div>
        -->

      </div>
   </div>

</div>
